body {
  color: #606060;
}

h1 {
  margin-bottom: 0px;
}

ul {
  margin: 0 0 20px;
}

li {
  list-style: none;
  display: block;
}

a {
  text-decoration: none;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 600;
  padding: 15px;
}

.heavy-rain-icon1,
.temperature,
.degree-sign {
  display: inline;
  float: left;
  position: relative;
}
.heavy-rain-icon1 {
  color: #d9d9d9;
  font-size: 60px;
  margin: 0 30px;
  margin-right: 10px;
  padding: 0;
}
.temperature {
  color: #000;
  font-size: 64px;
  margin: -25px auto;
  margin-left: auto;
}

.degree-sign {
  display: inline;
  font-size: 16px;
  margin-top: -10px;
  vertical-align: top;
}

.search-btn {
  background-color: #606060;
  color: #ffffff;
}
.border-list {
  border: 1px solid #d9d9d9;
  list-style-position: inside;
  padding: 2px;
}
.ext-forecast {
  color: #6c757d;
  font-size: 12px;
  font-weight: 400;
  margin-top: 25px;
  text-align: center;
}

.rain-icon,
.heavy-rain-icon,
.sun-icon {
  color: #d9d9d9;
  font-size: 30px;
  margin-top: 2px;
}

.high-temp {
  font-weight: 700;
}
